<div>
  <%= "username: #{@garden.user_name}" %>
</div>
<div>
  <%= @garden.garden_svg %>
</div>
<div>
  <ul class="boxes">
    <li class="box">
      consecutive days
      <div class="consecutive_result">
        <%= @garden.consecutive_days %> days
      </div>
    </li>
    <li class="box">
      total consecutive contributions
      <div class="consecutive_result">
        <%= @garden.consecutive_total_contribs %>
      </div>
    </li>
    <li class="box">
      average consecutive contributions
      <div class="consecutive_result">
        <%= @garden.consecutive_average_contribs %>
      </div>
    </li>
  </ul>
  <ul class="boxes">
    <li class="box">
      contributed days<br/> last year
      <div class="consecutive_result">
        <%= @garden.contributed_days_last_year %> days
      </div>
    </li>
    <li class="box">
      total contributions<br/> last year
      <div class="consecutive_result">
        <%= @garden.total_contribs_last_year %>
      </div>
    </li>
    <li class="box">
      average contributions<br/> last year
      <div class="consecutive_result">
        <%= @garden.average_contribs_last_year %>
      </div>
    </li>
  </ul>
</div>
<%= line_chart @garden.contribs_per_week_for_chart, library: {
  hAxis: {:title => "Week"},
  vAxis: {:title => "Contributions"},
  curveType: "none",
  colors: ["#196127"],
} %>

<a href='/'>back</a>
