<div class="first_low">
  username: <a href=<%= "https://github.com/#{@garden.user_name}" %>><%= @garden.user_name %></a>
</div>
<div class=svg>
  <%= @garden.garden_svg %>
</div>

<div>
  <ul class="boxes">
    <li class="box">
      consecutive days
      <div class="best_record">
        <% if @garden.consecutive_days == @garden.best_consecutive_days %>
          (best record updating)
        <% else%>
          (best record: <span class="best_consecutive_count"><%= @garden.best_consecutive_days %></span> days)
        <% end %>
      </div>
      <div class="consecutive_result">
        <%= @garden.consecutive_days %> days
      </div>
    </li>
    <li class="box">
      total consecutive contributions
      <div class="consecutive_result">
        <%= @garden.consecutive_total_contribs %>
      </div>
    </li>
    <li class="box">
      average consecutive contributions
      <div class="consecutive_result">
        <%= @garden.consecutive_average_contribs %>
      </div>
    </li>
  </ul>
  <ul class="boxes">
    <li class="box">
      contributed days<br/> last year
      <div class="consecutive_result">
        <%= @garden.contributed_days_last_year %> days
      </div>
    </li>
    <li class="box">
      total contributions<br/> last year
      <div class="consecutive_result">
        <%= @garden.total_contribs_last_year %>
      </div>
    </li>
    <li class="box">
      average contributions<br/> last year
      <div class="consecutive_result">
        <%= @garden.average_contribs_last_year %>
      </div>
    </li>
  </ul>
</div>
</b>

<%= line_chart @garden.contribs_per_day_for_chart, library: {
  title: "contributions per day (last 60 days)",
  hAxis: {title: "Day", format: 'M/d(EEE)'},
  vAxis: {title: "Contributions"},
  curveType: "none",
  colors: ["#196127"],
} %>
<%= line_chart @garden.contribs_per_week_for_chart, library: {
  title: "contributions per week",
  hAxis: {title: "Week"},
  vAxis: {title: "Contributions"},
  curveType: "none",
  colors: ["#196127"],
} %>

<div>
  <a href=<%="/#{@garden.user_name}/by_year"%>>See gardens by year.</a>
</div>

<div>
  <a href='/'>Top</a>
</div>
