<div>
  username: <a href=<%= "https://github.com/#{@garden.user_name}" %>><%= @garden.user_name %></a>
</div>

<div class=svg>
  <% @garden.garden_svg_by_year.reverse_each do |year, svg| %>
    <h1><%= year %></h1>
    <svg width=750px height=100px dominant-baseline="central">
      <%= svg %>
    </svg>
  <% end %>
</div>

<div>
<a href=<%="/#{@garden.user_name}"%>>back to the current garden</a>
</div>

<div>
<a href='/'>back</a>
</div>
