<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div>
      <%= "username: #{@user_name}" %>
    </div>
    <div>
      <%= @garden_svg %>
      <%= @consecutive_days %>
      <%= @consecutive_total_contribs %>
      <%= @consecutive_average_contribs %>
    </div>
  </body>
</html>
